.worker-card {
    width: 100%;    
    height: 80px;  
    padding: 10px;
    background: white;
    border-radius: 12px;
    border: 2px solid #000000;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 10px;
}

.worker-card:hover {
    box-shadow:0 8px 25px rgba(0,0,0,0.2);
}
.worker-photo {
    width:50px;
    height:50px;
    border-radius:50%;
    border:2px solid #2e2e2e;
    object-fit:cover;
}
.worker-nom {
    font-size:16px;
    font-weight:bold;
    color:#333;
}
.worker-role {
    font-size:14px;
    color:#666;
}