.worker-card {
    width: 100%;    
    height: 80px;  
    padding: 10px;
    background: white;
    border-radius: 12px;
    border: 2px solid #000000;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 10px;
}

.worker-card:hover {
    box-shadow:0 8px 25px rgba(0,0,0,0.2);
}
.worker-photo {
    width:50px;
    height:50px;
    border-radius:50%;
    border:2px solid #2e2e2e;
    object-fit:cover;
}
.worker-nom {
    font-size:16px;
    font-weight:bold;
    color:#333;
}
.worker-role {
    font-size:14px;
    color:#666;
}

.plan {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr;
    grid-template-rows: repeat(3, 1fr);
    border: 8px solid #000;
    height: 100vh;
    position: relative;
    overflow: hidden;
    background-image: url("../images/image.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
}

.plan > div {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 10px;
    color: #000;
}

.conference {
    grid-column:1/2;
    grid-row:1/2;
    border:3px solid #000;
    color: #000;
    width: 400px;
    top: -6px;
}
.reception {
    grid-column:1/2;
    grid-row:2/4;
    border:3px solid #000;
    top : -7px
}
.serveurs {
    grid-column:3/4;
    grid-row:1/2;
    border:3px solid #000;
    position: fixed;
}
.securité {
    grid-column:3/4;
    grid-row:3/4;
    border:3px solid #000;
    width: 230px;
    height: 225px;
}
.personel {
    grid-column:4/5;
    grid-row:1/2;
    border:3px solid #000;
    width: 240px;
    height: 230px;
}
.archives {
    grid-column:4/5;
    grid-row:3/4;
    border:3px solid #000;
}
.vide {
    grid-column:2/3;
    grid-row:1/4;
}
.plan > div h3 {
    margin: 0 0 10px 0;
    font-size: 18px;
    color: #000;
    text-align: center;
    margin-top: 20px;
}
.conference .workers-container { max-height: 140px; }
.reception .workers-container { max-height: 250px; }
.serveurs .workers-container { max-height: 150px; }
.securité .workers-container { max-height: 180px; }
.personel .workers-container { max-height: 180px; }
.archives .workers-container { max-height: 180px; }
