* {
    margin:0;
    padding:0;
    box-sizing:border-box;
}
body {
    font-family: Arial, sans-serif;
    background:#f4f4f4;
}
.container {
    display:grid;
    grid-template-columns:1fr 3fr;
    height:100vh;
}
.side {
    background:rgba(222, 217, 217, 0.585);
    height:100vh;
    border-right:4px solid #000;
    overflow-y:auto;
}
.side h2 {
    text-align:center;
    padding:20px;
    border-bottom:2px solid #ddd;
}
.btn-add {
    background:none;
    border:none;
    cursor:pointer;
    display:block;
    margin:20px auto;
    padding:10px;
    background-color: #28a745;
    font-size: large;
    border-radius: 10px;
}
.btn-add:hover {
    background-color: #155023;
}
.btn-add i {
    font-size:25px;
    color:#333;
    transition: all 0.3s ease;
}
.btn-add:hover i {
    color:#28a745;
}

.liste {
    display:flex;
    flex-wrap:wrap;
    padding:20px;
    gap:15px;
    justify-content:center;
}
.worker-card {
    padding:15px;
    background:white;
    border-radius:12px;
    border:2px solid #000;
    cursor:pointer;
    transition:all 0.3s ease;
    display:flex;
    align-items:center;
    gap:10px;
}
.worker-card:hover {
    transform:translateY(-5px);
    box-shadow:0 8px 25px rgba(0,0,0,0.2);
}
.worker-photo {
    width:50px;
    height:50px;
    border-radius:50%;
    border:2px solid #000;
    object-fit:cover;
}
.worker-nom {
    font-size:16px;
    font-weight:bold;
    color:#333;
}
.worker-role {
    font-size:14px;
    color:#666;
}