body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    }

header {
    width: 300px;
    height: 100vh;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: rgba(82, 82, 82, 0.2) 0px 0px 29px 0px;
    }

header h1 {
    font-size: 20px;
    margin-bottom: 30px;
    text-align: center;
    }

header button {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    background-color: #4c8bf5;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    }

header button:hover {
    background-color: #3570c6;
    }
